<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.hello.product.mapper.ProductMapper">

	<select id="productSelectList" resultType="co.yedam.hello.product.service.ProductVO">
		SELECT *
		FROM product
	</select>
	
	<select id="productSelect" resultType="co.yedam.hello.product.service.ProductVO">
		SELECT *
		FROM product
		WHERE product_id = #{productId}
	</select>
	
	<insert id="productInsert" parameterType="co.yedam.hello.product.service.ProductVO">
		INSERT INTO product
		VALUES (#{productId}, #{productName}, #{productPrice}, #{productModel})
	</insert>
	
	<update id="productUpdate" parameterType="co.yedam.hello.product.service.ProductVO">
		UPDATE product
		<set>
			<if test="productName != null">product_name = #{productName}, </if>
			<if test="productPrice != 0">product_price = #{productPrice}, </if>
			<if test="productModel != null">product_model = #{productModel}</if>
		</set>
		WHERE product_id = #{productId}
	</update>
	
	<delete id="productDelete" parameterType="co.yedam.hello.product.service.ProductVO">
		DELETE FROM product
		WHERE product_id = #{productId}
	</delete>

</mapper>